nav {
  box-shadow: unset;
}

nav a {
  background-color: black;
  color: white;
}

nav a:active,
nav a:focus,
nav a:hover {
  box-shadow: unset;
}

.menu-icon span {
  background-color: black;
}

body {
  background: black;
}

.g {
  padding: 0 5%;
  max-width: 1024px;
  margin: 2rem auto;
}

#hero {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 1280px;
  z-index: -999;
}

.headline {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1.5rem;
}

.project-summary {
  align-items: top;
  display: block;
  margin: 5rem auto 0 auto;
  padding: 0 10%;
  max-width: 1024px;
}

.project-summary h3 {
  padding-top: 2rem;
}

.project-summary a {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.divider {
  background: linear-gradient(to right, black, white, black);
  display: block;
  height: 1px;
  width: 80%;
  max-width: 1024px;
  margin: 2rem auto;
}

h1 {
  padding: unset;
  color: white;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

p {
  color: white;
  line-height: 1.5rem;
}

strong {
  font-weight: bold;
  color: cyan;
}

.tools-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tool-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(100, 100, 100, 0.5);
  border-radius: 0.5rem;
}

.tool-icon p {
  color: white;
}

span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

.view-project {
  max-width: 1280px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .view-project {
    margin-bottom: 5rem;
  }

  .headline {
    display: flex;
    position: block;
    align-items: center;
  }

  .project-summary {
    align-items: top;
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    margin: 2rem auto 0 auto;
    padding: 0 10% 2rem 10%;
    max-width: 1024px;
  }

  .project-summary p,
  .project-summary h3 {
    padding: unset;
  }
}
